*{
    margin: 0;
    padding: 0;
}

:root{
    --btn-bg: #FFC700;
    --bg: #20202D;
    --bg-1: #000;
    --fff: #fff;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

button{
    transition: .5s;
}

button:hover{
    transform: scale(1.1);
}

a{
    list-style: none;
    text-decoration: none;
    color: var(--bg-1);
}

body{
    max-width: 100%;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--fff);
    background: var(--bg);
    font-weight: 400;
}

.top{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    background: var(--fff);
    padding-top: 20px;
    padding-bottom: 20px;

}

.flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

header{
    padding-bottom: 20px;
}

.logo{
    transition: .5s;
}

.logo:hover{
    transform: scale(1.03);
}

.top button{
    background: var(--btn-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--bg-1);
    width: 220px;
    height: 65px;
    border-style: none;
    font-weight: 500;
    border-radius: 5px;
}

.bottom{
    margin-top: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.avatar{
    width: 390px;
    height: 390px;
    background: #fff;
    border-radius: 100%;
    /*background: url(../img/your_photo.png);*/
}

.bottom h1{
    font-size: 50px;
    font-weight: 700;
}

.bottom p{
    margin-top: 20px;
}

.skill{
    background: var(--bg-1);
}

h2{
    font-size: 40px;

}

h4{
    font-size: 20px;
}

.cards{
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.item{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.item h3{
    font-size: 28px;
    font-weight: 500;
}

.item p{
    font-size: 20px;
    font-weight: 400;
}

.contact{
    background: #000;
}

.wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}

.works{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin-top: 60px;
}

.work{
    width: 300px;
    height: 400px;
    background: gray;
    transition: .5s ease;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
}

.portfolio_img{
    width: 300px;
    height: 475px;
}

.card__h{
    font-size: 1em;
    background: #fff;
}

.contacts{
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.contact{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    gap: 20px;
}

.contact > a{
    color: #fff;
    font-weight: 500;
}

.contact img{
    width: 32px;
    height: 32px;
}

.work:hover{
    transform: scale(1.05);
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    color: var(--bg-1);

}

@media screen and (max-width:480px){
    .container{
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    .flex{
        gap: 60px;
    }

    .bottom{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
    }
    .avatar{
        display: none;
    }
    .card{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
    }
    .works{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
    }
}
