*{
    margin: 0;
    padding: 0;
}

:root{
    --btn-bg: #FFC700;
    --bg: #20202D;
    --bg-1: #000;
    --fff: #fff;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

button{
    transition: .5s;
}

button:hover{
    transform: scale(1.1);
}

a{
    list-style: none;
    text-decoration: none;
    color: var(--bg-1);
}

body{
    max-width: 100%;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--fff);
    background: var(--bg);
    font-weight: 400;
}

.top{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    background: var(--fff);
    padding-top: 20px;
    padding-bottom: 20px;

}

.flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

header{
    padding-bottom: 20px;
}

.logo{
    transition: .5s;
}

.logo:hover{
    transform: scale(1.03);
}

.top button{
    background: var(--btn-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--bg-1);
    width: 220px;
    height: 65px;
    border-style: none;
    font-weight: 500;
    border-radius: 5px;
}

.bottom{
    margin-top: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.avatar{
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 100%;
    background: url(../img/me.jpg);
}

.bottom h1{
    font-size: 50px;
    font-weight: 700;
}

.bottom p{
    margin-top: 20px;
}

.skill{
    background: var(--bg-1);
}

h2{
    font-size: 40px;

}

h4{
    font-size: 20px;
}

.cards{
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.item{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.item h3{
    font-size: 28px;
    font-weight: 500;
}

.item p{
    font-size: 20px;
    font-weight: 400;
}

.contact{
    background: #000;
}

.wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}

.works{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin-top: 60px;
}

.work{
    width: 300px;
    height: 400px;
    background: gray;
    transition: .5s ease;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
}

.portfolio_img{
    width: 300px;
    height: 475px;
}

.card__h{
    font-size: 1em;
    background: #fff;
}

.contacts{
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.contact{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    gap: 20px;
}

.contact > a{
    color: #fff;
    font-weight: 500;
}

.contact img{
    width: 32px;
    height: 32px;
}

.work:hover{
    transform: scale(1.05);
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    color: var(--bg-1);

}

a:focus,
a:hover,
.button:focus {
	text-decoration: none;
	outline: none;
	color: #002fff;
}


h2,
h4,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #000000;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.06875rem;
	line-height: 2em;
	text-transform: capitalize;
}



h2 a,
h4 a,
h6 a {
	color: inherit;
}

h2 {
	font-size: 35px;
}

h4 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}



p {
	color: #737373;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 25px;
	margin-bottom: 20px;
}


.blog-area {
	padding: 40px;
    margin-top: 50px;
	background: #f9f5f7;
}

.test2{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row
}

.top1{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    background: var(--fff);
    padding-top: 10px;
    padding-bottom: 10px;

}

.cards-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-1{
    background: #fff;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-1 img{
    width: 100px;
    height: 150px;
    
}

.card-1 a:hover{
    font-weight: 500;
}

@media screen and (max-width:480px){
    .container{
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    .flex{
        gap: 60px;
    }

    .bottom{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
    }
    .avatar{
        display: none;
    }
    .card{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
    }
    .card-1{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
    }
    .cards-1{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;  
    }
    .works{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 60px;
    }
}


